/*
 * @Description  : CSS 样式重置
 * @Author       : hzf
 * @Date         : 2022-08-07
 * @LastEditors  : hzf
 * @LastEditTime : 2022-08-07
 * @FilePath     : \vue3-admin\src\styles\reset.css
 */
*, ::before, ::after {
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: inherit;
}

html, body {
  height: 100%;
  box-sizing: border-box;
}

a, a:hover, a:link, a:visited, a:active {
  text-decoration: none;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea {
  outline: none;
  resize: none;
}
