:root {
  font-size: 16px;
  color: #000000A6;
  background-color: #242424;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
}

#app {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #666;
    background-color: #fff;
  }
}
