:root {
  font-size: 16px;
  color: var(--gray-12);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
/* 滚动条滑块样式 */
::-webkit-scrollbar-thumb {
  background: var(--gray-6);
  border-radius: 8px;
}
/* 滚动条轨道样式 */
::-webkit-scrollbar-track {
  background: var(--gray-4);
}
/* 滚动条角样式 */
::-webkit-scrollbar-corner {
  background: transparent;
}

#app {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--gray-12);
    background-color: var(--gray-2);
  }
}
