:root {
  font-size: 16px;
  color: var(--gray-12);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
}

#app {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--gray-12);
    background-color: var(--gray-2);
  }
}
