/* 暗黑模式 */
[data-theme='dark'] {
  filter: invert(0.9) hue-rotate(180deg);

  /* 图片、视频等元素不需要处理 */
  img,
  video,
  .logo,
  .icon {
    filter: invert(1) hue-rotate(180deg);
  }
}

/* 灰色模式 */
[data-theme='gray'] {
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);

  /* IE10-IE11 */
  -ms-filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
