:deep(.el-drawer) .el-drawer__header{padding:15px 20px;margin:0}.permission-wrapper[data-v-b77a6a06]{height:100%;display:flex;flex-direction:column;gap:10px}.permission-wrapper .menu-tree-wrapper[data-v-b77a6a06]{flex:1;min-height:0}
